In [29]:
from mlSandbox import MlSandbox
import pandas as pd

fileName = "data/housing.csv"
df = pd.read_csv(fileName)

In [12]:
# Display shape
print("Shape:", df.shape)

print(df.head())

df.info()

Shape: (506, 14)
      CRIM    ZN  INDUS  CHAS    NOX     RM   AGE     DIS  RAD    TAX  \
0  0.00632  18.0   2.31     0  0.538  6.575  65.2  4.0900    1  296.0
1  0.02731   0.0   7.07     0  0.469  6.421  78.9  4.9671    2  242.0
2  0.02729   0.0   7.07     0  0.469  7.185  61.1  4.9671    2  242.0
3  0.03237   0.0   2.18     0  0.458  6.998  45.8  6.0622    3  222.0
4  0.06905   0.0   2.18     0  0.458  7.147  54.2  6.0622    3  222.0

   PTRATIO       B  LSTAT   UNK
0     15.3  396.90   4.98  24.0
1     17.8  396.90   9.14  21.6
2     17.8  392.83   4.03  34.7
3     18.7  394.63   2.94  33.4
4     18.7  396.90   5.33  36.2
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 14 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   CRIM     506 non-null    float64
 1   ZN       506 non-null    float64
 2   INDUS    506 non-null    float64
 3   CHAS     506 non-null    int64
 4   NOX      506 non-null    float64
 5   RM       506 non-null    float64
 6   AGE      506 non-null    float64
 7   DIS      506 non-null    float64
 8   RAD      506 non-null    int64
 9   TAX      506 non-null    float64
 10  PTRATIO  506 non-null    float64
 11  B        506 non-null    float64
 12  LSTAT    506 non-null    float64
 13  UNK      506 non-null    float64
dtypes: float64(12), int64(2)
memory usage: 55.5 KB

In [13]:
df.describe(include='all')

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,UNK
count,506.000000,506.000000,506.00000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000
mean,3.613524,11.166528,5.93915,0.069170,0.554695,6.284634,68.574911,3.696234,4.332016,408.237154,18.455534,356.674032,12.653063,22.532806
std,8.601545,22.990973,2.75991,0.253994,0.115878,0.702617,28.148847,1.999684,1.417166,168.537116,2.164946,91.294864,7.141062,9.197104
min,0.006320,0.000000,0.01000,0.000000,0.385000,3.561000,2.900000,0.585700,1.000000,187.000000,12.600000,0.320000,1.730000,5.000000
25%,0.082045,0.000000,3.66750,0.000000,0.449000,5.885500,45.025000,2.073715,4.000000,279.000000,17.400000,375.377500,6.950000,17.025000
50%,0.256510,0.001000,6.41000,0.000000,0.538000,6.208500,77.500000,3.107300,4.000000,330.000000,19.050000,391.440000,11.360000,21.200000
75%,3.677083,12.500000,8.10000,0.000000,0.624000,6.623500,94.075000,5.112625,5.000000,666.000000,20.200000,396.225000,16.955000,25.000000
max,88.976200,95.000000,9.90000,1.000000,0.871000,8.780000,100.000000,9.222900,8.000000,711.000000,22.000000,396.900000,37.970000,50.000000

In [30]:
sb = MlSandbox("housing.csv", 
               numerical=["ZN","INDUS","NOX","RM","AGE","DIS","RAD","TAX","PTRATIO","B","LSTAT","UNK"], 
               numerical_log=[], 
               one_hot=["CHAS"], 
               boolean=[], 
               objective="CRIM", 
               objective_type="regression")

In [37]:
sb.linearRegression(random_state=60)

Mean Squared Error: 23.80