In [2]:
import pandas as pd

fileName = "data/07291600.csv"
df = pd.read_csv(fileName)

In [3]:
# Display shape
print("Shape:", df.shape)

print(df.head())

df.info()

Shape: (10, 28)
                                                name  \
0                        E.SUN COMMERCIAL BANK, LTD.
1                CATHAY UNITED BANK COMPANY, LIMITED
2  CHINA CONSTRUCTION BANK (ASIA) CORPORATION LIM...
3                     FUBON BANK (HONG KONG) LIMITED
4      J.P. MORGAN SECURITIES (ASIA PACIFIC) LIMITED

                                       local_address  \
0  SUITES 2701, 2710-14, 27/F AND 28/F, TOWER 6, ...
1  10/F, LEE GARDEN THREE, 1 SUNNING ROAD, CAUSEW...
2  28/F, CCB TOWER, NO. 3 CONNAUGHT ROAD CENTRAL,...
3  FUBON BANK BUILDING, 38 DES VOEUX ROAD CENTRAL...
4  18/F & 23-29/F, CHATER HOUSE, 8 CONNAUGHT ROAD...

                                   principle_address                     type  \
0  NO. 117, SEC.3, MINSHENG E. ROAD, SONGSHAN DIS...            Licensed Bank
1  1/F, NO. 7, SONGREN ROAD, TAIPEI CITY 110, TAI...            Licensed Bank
2                                               1971            Licensed Bank
3                                                NaN            Licensed Bank
4                                                NaN  Restricted Licence Bank

                                    secstaff_reg_url   latitude   longitude  \
0  http://apps.hkma.gov.hk/eng/index.php?c=search...  22.297007  114.168125
1  http://apps.hkma.gov.hk/eng/index.php?c=search...  22.278383  114.185220
2  http://apps.hkma.gov.hk/eng/index.php?c=search...  22.281498  114.161474
3  http://apps.hkma.gov.hk/eng/index.php?c=search...  22.283263  114.156714
4  http://apps.hkma.gov.hk/eng/index.php?c=search...  22.282321  114.158688

   isPenalty  year  Multiplier  ... expensesMillion adj_assetsPrevMillion  \
0          0  2022    0.000008  ...     23829055.00           5926.958996
1          1  2022    0.001000  ...         8580.15          25061.675000
2          1  2021    0.001000  ...      5415722.00         474505.438000
3          0  2023    0.001000  ...      5511876.00         129598.400000
4          0  2023    0.078091  ...       435387.00         166415.591300

  adj_assetsMillion adj_liabilitiesPrevMillion  adj_liabilitiesMillion  \
0        6934.61783                5027.322448             5897.647423
1       33246.34800               24966.703000            33547.692000
2      497290.21700              397180.873000           417551.135000
3      140981.61600              114346.416000           125016.000000
4      174925.79230               54315.179870            49690.006120

  adj_incomePrevMillion adj_incomeMillion  adj_expensesPrevMillion  \
0            311.584627        316.730318               206.428755
1             14.552260         16.945620                 7.590190
2          18517.639000      15258.277000              8228.603000
3           5147.117000       8922.145000              2610.598000
4          43209.702580      41454.451170             36924.001800

   adj_expensesMillion                                          Evidences
0           185.866629  https://www.esunbank.com/zh-tw/bank/zh-tw/-/me...
1             8.580150  https://www.cathaybk.com.tw/cathaybk/-/media/b...
2          5415.722000                                                NaN
3          5511.876000  https://www.fubonbank.com.hk/resources/common/...
4         33999.806220  https://vpr.hkma.gov.hk/statics/assets/doc/200...

[5 rows x 28 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 28 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   name                        10 non-null     object
 1   local_address               10 non-null     object
 2   principle_address           6 non-null      object
 3   type                        10 non-null     object
 4   secstaff_reg_url            10 non-null     object
 5   latitude                    10 non-null     float64
 6   longitude                   10 non-null     float64
 7   isPenalty                   10 non-null     int64
 8   year                        10 non-null     int64
 9   Multiplier                  10 non-null     float64
 10  assetsPrevMillion           10 non-null     object
 11  assetsMillion               10 non-null     object
 12  liabilitiesPrevMillion      10 non-null     object
 13  liabilitiesMillion          10 non-null     object
 14  establishmentYear           9 non-null      float64
 15  incomePrevMillion           10 non-null     object
 16  incomeMillion               10 non-null     object
 17  expensesPrevMillion         10 non-null     float64
 18  expensesMillion             10 non-null     float64
 19  adj_assetsPrevMillion       10 non-null     float64
 20  adj_assetsMillion           10 non-null     float64
 21  adj_liabilitiesPrevMillion  10 non-null     float64
 22  adj_liabilitiesMillion      10 non-null     float64
 23  adj_incomePrevMillion       10 non-null     float64
 24  adj_incomeMillion           10 non-null     float64
 25  adj_expensesPrevMillion     10 non-null     float64
 26  adj_expensesMillion         10 non-null     float64
 27  Evidences                   9 non-null      object
dtypes: float64(14), int64(2), object(12)
memory usage: 2.3+ KB

In [4]:
df.describe(include='all')

,name,local_address,principle_address,type,secstaff_reg_url,latitude,longitude,isPenalty,year,Multiplier,...,expensesMillion,adj_assetsPrevMillion,adj_assetsMillion,adj_liabilitiesPrevMillion,adj_liabilitiesMillion,adj_incomePrevMillion,adj_incomeMillion,adj_expensesPrevMillion,adj_expensesMillion,Evidences
count,10,10,6,10,10,10.000000,10.000000,10.000000,10.000000,10.000000,...,1.000000e+01,1.000000e+01,1.000000e+01,1.000000e+01,1.000000e+01,10.000000,10.000000,10.000000,10.000000,9
unique,10,10,6,2,10,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9
top,"E.SUN COMMERCIAL BANK, LTD.","SUITES 2701, 2710-14, 27/F AND 28/F, TOWER 6, ...","NO. 117, SEC.3, MINSHENG E. ROAD, SONGSHAN DIS...",Licensed Bank,http://apps.hkma.gov.hk/eng/index.php?c=search...,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.esunbank.com/zh-tw/bank/zh-tw/-/me...
freq,1,1,1,9,1,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
mean,NaN,NaN,NaN,NaN,NaN,22.287170,114.163339,0.400000,2022.600000,2.040110,...,3.547689e+06,4.437409e+06,3.800185e+06,3.483524e+06,4.100801e+06,82980.519147,82884.236811,31702.067574,32389.406300,NaN
std,NaN,NaN,NaN,NaN,NaN,0.009057,0.009024,0.516398,0.843274,3.518864,...,7.467985e+06,1.352300e+07,1.149764e+07,1.059740e+07,1.254544e+07,234203.098216,234262.415477,81754.209291,84663.888195,NaN
min,NaN,NaN,NaN,NaN,NaN,22.277409,114.154679,0.000000,2021.000000,0.000008,...,2.060000e+01,2.660446e+03,2.325593e+03,1.902200e+03,1.768056e+03,14.552260,16.945620,7.590190,8.580150,NaN
25%,NaN,NaN,NaN,NaN,NaN,22.281704,114.157207,0.000000,2022.000000,0.001000,...,1.253600e+03,1.476874e+04,1.665591e+04,1.001217e+04,1.281016e+04,250.888157,262.986579,212.322066,199.237972,NaN
50%,NaN,NaN,NaN,NaN,NaN,22.284002,114.160801,0.000000,2023.000000,0.539046,...,1.400865e+05,1.455747e+05,1.446982e+05,8.433080e+04,8.735300e+04,4128.956500,6143.324500,2591.519000,3382.616000,NaN
75%,NaN,NaN,NaN,NaN,NaN,22.294110,114.167086,1.000000,2023.000000,1.000000,...,4.170638e+06,3.974830e+05,3.944472e+05,3.382734e+05,3.502670e+05,16578.979250,14089.957750,7141.702250,5487.837500,NaN
max,NaN,NaN,NaN,NaN,NaN,22.303660,114.185220,1.000000,2024.000000,8.840000,...,2.382906e+07,4.292116e+07,3.651899e+07,3.364083e+07,3.980283e+07,748435.260000,748634.400000,262191.260000,271592.940000,NaN

In [30]:
sb = MlSandbox("housing.csv", 
               numerical=["ZN","INDUS","NOX","RM","AGE","DIS","RAD","TAX","PTRATIO","B","LSTAT","UNK"], 
               numerical_log=[], 
               one_hot=["CHAS"], 
               boolean=[], 
               objective="CRIM", 
               objective_type="regression")

In [37]:
sb.linearRegression(random_state=60)

Mean Squared Error: 23.80